<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.master.mapper.SBaffleConfigMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.master.entity.SBaffleConfig">
    <id column="interface_id" jdbcType="VARCHAR" property="interfaceId" />
    <result column="baffle_open" jdbcType="VARCHAR" property="baffleOpen" />
    <result column="baffle_path" jdbcType="VARCHAR" property="bafflePath" />
  </resultMap>
  <sql id="Base_Column_List">
    interface_id, baffle_open, baffle_path
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_baffle_config
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from s_baffle_config
    where interface_id = #{interfaceId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from s_baffle_config
    where interface_id = #{interfaceId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.demo.master.entity.SBaffleConfig">
    insert into s_baffle_config (interface_id, baffle_open, baffle_path
      )
    values (#{interfaceId,jdbcType=VARCHAR}, #{baffleOpen,jdbcType=VARCHAR}, #{bafflePath,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.master.entity.SBaffleConfig">
    insert into s_baffle_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="interfaceId != null">
        interface_id,
      </if>
      <if test="baffleOpen != null">
        baffle_open,
      </if>
      <if test="bafflePath != null">
        baffle_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="interfaceId != null">
        #{interfaceId,jdbcType=VARCHAR},
      </if>
      <if test="baffleOpen != null">
        #{baffleOpen,jdbcType=VARCHAR},
      </if>
      <if test="bafflePath != null">
        #{bafflePath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.master.entity.SBaffleConfig">
    update s_baffle_config
    <set>
      <if test="baffleOpen != null">
        baffle_open = #{baffleOpen,jdbcType=VARCHAR},
      </if>
      <if test="bafflePath != null">
        baffle_path = #{bafflePath,jdbcType=VARCHAR},
      </if>
    </set>
    where interface_id = #{interfaceId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.master.entity.SBaffleConfig">
    update s_baffle_config
    set baffle_open = #{baffleOpen,jdbcType=VARCHAR},
      baffle_path = #{bafflePath,jdbcType=VARCHAR}
    where interface_id = #{interfaceId,jdbcType=VARCHAR}
  </update>
</mapper>