<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.master.mapper.SDictionaryMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.master.entity.SDictionary">
    <id column="dict_type" jdbcType="VARCHAR" property="dictType" />
    <id column="dict_code" jdbcType="VARCHAR" property="dictCode" />
    <result column="dict_type_desc" jdbcType="VARCHAR" property="dictTypeDesc" />
    <result column="dict_code_desc" jdbcType="VARCHAR" property="dictCodeDesc" />
    <result column="dict_parent_type" jdbcType="VARCHAR" property="dictParentType" />
    <result column="dict_parent_code" jdbcType="VARCHAR" property="dictParentCode" />
    <result column="dict_order" jdbcType="INTEGER" property="dictOrder" />
    <result column="dict_sts" jdbcType="VARCHAR" property="dictSts" />
    <result column="last_chg_user" jdbcType="VARCHAR" property="lastChgUser" />
    <result column="last_chg_dt" jdbcType="VARCHAR" property="lastChgDt" />
  </resultMap>
  <sql id="Base_Column_List">
    dict_type, dict_code, dict_type_desc, dict_code_desc, dict_parent_type, dict_parent_code, 
    dict_order, dict_sts, last_chg_user, last_chg_dt
  </sql>
  <select id="selectAllToDictType" parameterType="map" resultMap="BaseResultMap">
    select distinct dict_type, dict_type_desc
    from s_dictionary
    <where>
      1 = 1
      <if test="dictSts!=null and dictSts!=''">
        and dict_sts = #{dictSts,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="selectAll" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from s_dictionary
    <where>
      1 = 1
      <if test="dictType!=null and dictType!=''">
        and dict_type = #{dictType,jdbcType=VARCHAR}
      </if>
      <if test="dictSts!=null and dictSts!=''">
        and dict_sts = #{dictSts,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from s_dictionary
    where dict_type = #{dictType,jdbcType=VARCHAR}
      and dict_code = #{dictCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from s_dictionary
    where dict_type = #{dictType,jdbcType=VARCHAR}
      and dict_code = #{dictCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.demo.master.entity.SDictionary">
    insert into s_dictionary (dict_type, dict_code, dict_type_desc, 
      dict_code_desc, dict_parent_type, dict_parent_code, 
      dict_order, dict_sts, last_chg_user, 
      last_chg_dt)
    values (#{dictType,jdbcType=VARCHAR}, #{dictCode,jdbcType=VARCHAR}, #{dictTypeDesc,jdbcType=VARCHAR}, 
      #{dictCodeDesc,jdbcType=VARCHAR}, #{dictParentType,jdbcType=VARCHAR}, #{dictParentCode,jdbcType=VARCHAR}, 
      #{dictOrder,jdbcType=INTEGER}, #{dictSts,jdbcType=VARCHAR}, #{lastChgUser,jdbcType=VARCHAR}, 
      #{lastChgDt,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.master.entity.SDictionary">
    insert into s_dictionary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dictType != null">
        dict_type,
      </if>
      <if test="dictCode != null">
        dict_code,
      </if>
      <if test="dictTypeDesc != null">
        dict_type_desc,
      </if>
      <if test="dictCodeDesc != null">
        dict_code_desc,
      </if>
      <if test="dictParentType != null">
        dict_parent_type,
      </if>
      <if test="dictParentCode != null">
        dict_parent_code,
      </if>
      <if test="dictOrder != null">
        dict_order,
      </if>
      <if test="dictSts != null">
        dict_sts,
      </if>
      <if test="lastChgUser != null">
        last_chg_user,
      </if>
      <if test="lastChgDt != null">
        last_chg_dt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dictType != null">
        #{dictType,jdbcType=VARCHAR},
      </if>
      <if test="dictCode != null">
        #{dictCode,jdbcType=VARCHAR},
      </if>
      <if test="dictTypeDesc != null">
        #{dictTypeDesc,jdbcType=VARCHAR},
      </if>
      <if test="dictCodeDesc != null">
        #{dictCodeDesc,jdbcType=VARCHAR},
      </if>
      <if test="dictParentType != null">
        #{dictParentType,jdbcType=VARCHAR},
      </if>
      <if test="dictParentCode != null">
        #{dictParentCode,jdbcType=VARCHAR},
      </if>
      <if test="dictOrder != null">
        #{dictOrder,jdbcType=INTEGER},
      </if>
      <if test="dictSts != null">
        #{dictSts,jdbcType=VARCHAR},
      </if>
      <if test="lastChgUser != null">
        #{lastChgUser,jdbcType=VARCHAR},
      </if>
      <if test="lastChgDt != null">
        #{lastChgDt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.master.entity.SDictionary">
    update s_dictionary
    <set>
      <if test="dictTypeDesc != null">
        dict_type_desc = #{dictTypeDesc,jdbcType=VARCHAR},
      </if>
      <if test="dictCodeDesc != null">
        dict_code_desc = #{dictCodeDesc,jdbcType=VARCHAR},
      </if>
      <if test="dictParentType != null">
        dict_parent_type = #{dictParentType,jdbcType=VARCHAR},
      </if>
      <if test="dictParentCode != null">
        dict_parent_code = #{dictParentCode,jdbcType=VARCHAR},
      </if>
      <if test="dictOrder != null">
        dict_order = #{dictOrder,jdbcType=INTEGER},
      </if>
      <if test="dictSts != null">
        dict_sts = #{dictSts,jdbcType=VARCHAR},
      </if>
      <if test="lastChgUser != null">
        last_chg_user = #{lastChgUser,jdbcType=VARCHAR},
      </if>
      <if test="lastChgDt != null">
        last_chg_dt = #{lastChgDt,jdbcType=VARCHAR},
      </if>
    </set>
    where dict_type = #{dictType,jdbcType=VARCHAR}
      and dict_code = #{dictCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.master.entity.SDictionary">
    update s_dictionary
    set dict_type_desc = #{dictTypeDesc,jdbcType=VARCHAR},
      dict_code_desc = #{dictCodeDesc,jdbcType=VARCHAR},
      dict_parent_type = #{dictParentType,jdbcType=VARCHAR},
      dict_parent_code = #{dictParentCode,jdbcType=VARCHAR},
      dict_order = #{dictOrder,jdbcType=INTEGER},
      dict_sts = #{dictSts,jdbcType=VARCHAR},
      last_chg_user = #{lastChgUser,jdbcType=VARCHAR},
      last_chg_dt = #{lastChgDt,jdbcType=VARCHAR}
    where dict_type = #{dictType,jdbcType=VARCHAR}
      and dict_code = #{dictCode,jdbcType=VARCHAR}
  </update>
</mapper>