<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.master.mapper.SMessageMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.master.entity.SMessage">
    <id column="msg_code" jdbcType="VARCHAR" property="msgCode" />
    <result column="msg_desc" jdbcType="VARCHAR" property="msgDesc" />
    <result column="msg_level" jdbcType="VARCHAR" property="msgLevel" />
    <result column="msg_type" jdbcType="VARCHAR" property="msgType" />
    <result column="msg_sts" jdbcType="VARCHAR" property="msgSts" />
    <result column="last_chg_user" jdbcType="VARCHAR" property="lastChgUser" />
    <result column="last_chg_dt" jdbcType="VARCHAR" property="lastChgDt" />
  </resultMap>
  <sql id="Base_Column_List">
    msg_code, msg_desc, msg_level, msg_type, msg_sts, last_chg_user, last_chg_dt
  </sql>
  <select id="selectAll" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_message
    <where>
      1 = 1
      <if test="msgSts!=null and msgSts!=''">
        and msg_sts = #{msgSts,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from s_message
    where msg_code = #{msgCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from s_message
    where msg_code = #{msgCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.demo.master.entity.SMessage">
    insert into s_message (msg_code, msg_desc, msg_level, 
      msg_type, msg_sts, last_chg_user, 
      last_chg_dt)
    values (#{msgCode,jdbcType=VARCHAR}, #{msgDesc,jdbcType=VARCHAR}, #{msgLevel,jdbcType=VARCHAR}, 
      #{msgType,jdbcType=VARCHAR}, #{msgSts,jdbcType=VARCHAR}, #{lastChgUser,jdbcType=VARCHAR}, 
      #{lastChgDt,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.master.entity.SMessage">
    insert into s_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="msgCode != null">
        msg_code,
      </if>
      <if test="msgDesc != null">
        msg_desc,
      </if>
      <if test="msgLevel != null">
        msg_level,
      </if>
      <if test="msgType != null">
        msg_type,
      </if>
      <if test="msgSts != null">
        msg_sts,
      </if>
      <if test="lastChgUser != null">
        last_chg_user,
      </if>
      <if test="lastChgDt != null">
        last_chg_dt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="msgCode != null">
        #{msgCode,jdbcType=VARCHAR},
      </if>
      <if test="msgDesc != null">
        #{msgDesc,jdbcType=VARCHAR},
      </if>
      <if test="msgLevel != null">
        #{msgLevel,jdbcType=VARCHAR},
      </if>
      <if test="msgType != null">
        #{msgType,jdbcType=VARCHAR},
      </if>
      <if test="msgSts != null">
        #{msgSts,jdbcType=VARCHAR},
      </if>
      <if test="lastChgUser != null">
        #{lastChgUser,jdbcType=VARCHAR},
      </if>
      <if test="lastChgDt != null">
        #{lastChgDt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.master.entity.SMessage">
    update s_message
    <set>
      <if test="msgDesc != null">
        msg_desc = #{msgDesc,jdbcType=VARCHAR},
      </if>
      <if test="msgLevel != null">
        msg_level = #{msgLevel,jdbcType=VARCHAR},
      </if>
      <if test="msgType != null">
        msg_type = #{msgType,jdbcType=VARCHAR},
      </if>
      <if test="msgSts != null">
        msg_sts = #{msgSts,jdbcType=VARCHAR},
      </if>
      <if test="lastChgUser != null">
        last_chg_user = #{lastChgUser,jdbcType=VARCHAR},
      </if>
      <if test="lastChgDt != null">
        last_chg_dt = #{lastChgDt,jdbcType=VARCHAR},
      </if>
    </set>
    where msg_code = #{msgCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.master.entity.SMessage">
    update s_message
    set msg_desc = #{msgDesc,jdbcType=VARCHAR},
      msg_level = #{msgLevel,jdbcType=VARCHAR},
      msg_type = #{msgType,jdbcType=VARCHAR},
      msg_sts = #{msgSts,jdbcType=VARCHAR},
      last_chg_user = #{lastChgUser,jdbcType=VARCHAR},
      last_chg_dt = #{lastChgDt,jdbcType=VARCHAR}
    where msg_code = #{msgCode,jdbcType=VARCHAR}
  </update>
</mapper>