<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demospringboot.mapper.SSalerMapper">
  <resultMap id="BaseResultMap" type="com.example.demospringboot.entity.SSaler">
    <id column="saler_id" jdbcType="VARCHAR" property="salerId" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="saler_name" jdbcType="VARCHAR" property="salerName" />
    <result column="saler_tel" jdbcType="VARCHAR" property="salerTel" />
    <result column="is_login" jdbcType="VARCHAR" property="isLogin" />
    <result column="crt_dt" jdbcType="VARCHAR" property="crtDt" />
    <result column="last_chg_dt" jdbcType="VARCHAR" property="lastChgDt" />
    <result column="session_id" jdbcType="VARCHAR" property="sessionId" />
  </resultMap>
  <sql id="Base_Column_List">
    saler_id, open_id, saler_name, saler_tel, is_login, crt_dt, last_chg_dt, session_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_saler
    where saler_id = #{salerId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from s_saler
    where saler_id = #{salerId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.demospringboot.entity.SSaler">
    insert into s_saler (saler_id, open_id, saler_name, 
      saler_tel, is_login, crt_dt, 
      last_chg_dt, session_id)
    values (#{salerId,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, #{salerName,jdbcType=VARCHAR}, 
      #{salerTel,jdbcType=VARCHAR}, #{isLogin,jdbcType=VARCHAR}, #{crtDt,jdbcType=VARCHAR}, 
      #{lastChgDt,jdbcType=VARCHAR}, #{sessionId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demospringboot.entity.SSaler">
    insert into s_saler
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="salerId != null">
        saler_id,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="salerName != null">
        saler_name,
      </if>
      <if test="salerTel != null">
        saler_tel,
      </if>
      <if test="isLogin != null">
        is_login,
      </if>
      <if test="crtDt != null">
        crt_dt,
      </if>
      <if test="lastChgDt != null">
        last_chg_dt,
      </if>
      <if test="sessionId != null">
        session_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="salerId != null">
        #{salerId,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="salerName != null">
        #{salerName,jdbcType=VARCHAR},
      </if>
      <if test="salerTel != null">
        #{salerTel,jdbcType=VARCHAR},
      </if>
      <if test="isLogin != null">
        #{isLogin,jdbcType=VARCHAR},
      </if>
      <if test="crtDt != null">
        #{crtDt,jdbcType=VARCHAR},
      </if>
      <if test="lastChgDt != null">
        #{lastChgDt,jdbcType=VARCHAR},
      </if>
      <if test="sessionId != null">
        #{sessionId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demospringboot.entity.SSaler">
    update s_saler
    <set>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="salerName != null">
        saler_name = #{salerName,jdbcType=VARCHAR},
      </if>
      <if test="salerTel != null">
        saler_tel = #{salerTel,jdbcType=VARCHAR},
      </if>
      <if test="isLogin != null">
        is_login = #{isLogin,jdbcType=VARCHAR},
      </if>
      <if test="crtDt != null">
        crt_dt = #{crtDt,jdbcType=VARCHAR},
      </if>
      <if test="lastChgDt != null">
        last_chg_dt = #{lastChgDt,jdbcType=VARCHAR},
      </if>
      <if test="sessionId != null">
        session_id = #{sessionId,jdbcType=VARCHAR},
      </if>
    </set>
    where saler_id = #{salerId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demospringboot.entity.SSaler">
    update s_saler
    set open_id = #{openId,jdbcType=VARCHAR},
      saler_name = #{salerName,jdbcType=VARCHAR},
      saler_tel = #{salerTel,jdbcType=VARCHAR},
      is_login = #{isLogin,jdbcType=VARCHAR},
      crt_dt = #{crtDt,jdbcType=VARCHAR},
      last_chg_dt = #{lastChgDt,jdbcType=VARCHAR},
      session_id = #{sessionId,jdbcType=VARCHAR}
    where saler_id = #{salerId,jdbcType=VARCHAR}
  </update>
</mapper>